.site-header {
    margin-bottom: 20px;
}

.site-header h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #800012;
}

.site-content {
    margin-bottom: 20px;
}