{% extends 'layout/base.html' %}

{% block content %}

    <h1> Add Config </h1>

    <div class="add-config-form">
        <form action="../" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="app-config-form-field">
                    <label {% if field.field.required %}class="required"{% endif %}> {{ field.label }} </label> {{ field }}
                </div>

                {% if field.errors %}
                    <div class="app-config-form-field-error">
                        {{ field.errors }}
                    </div>
                {% endif %}

            {% endfor %}

            <div class="app-config-form-field">
                <input type="submit"/>
            </div>

        </form>
    </div>

{% endblock %}
