{% extends 'layout/base.html' %}

{% block content %}
    <aside class="important-message formatted-text">
        <h1 class="message-title">Problems with .tar.gz</h1>
        <p>
            Somehow all our <strong>tar.gz</strong> are returned from server with "Content-Type: plain/text" header.
            Unfortunately we don't have time to fix it now.
        </p>
        <p>Chrome and IE downloading it well. But Firefox in Ubuntu corrupts the archive so you can't open it.</p>
        <p>
            We promise that we will fix it as soon as we will move the website to our dedicated hosting.
            But for now we suggest you to download these configs via Chrome browser.
        </p>
    </aside>

    <section class="configs-list">
        <h1>Django Application Configs</h1>

        <ul class="django-applications">
            {% for app in applications_list %}
                <li>
                    {% if app.url %}
                        <h2><a href="{{ app.url }}">{{ app.slug }}</a></h2>
                    {% else %}
                        <h2>{{ app.slug }}</h2>
                    {% endif %}

                    <ul>
                        {% for config in app.get_configs %}
                            <li>
                                {% include 'pages/configs/configs_list_item.html' %}
                            </li>
                        {% empty %}
                            <li>There are no configs for this application yet.</li>
                        {% endfor %}
                    </ul>
                </li>
            {% empty %}
                <li>There are no Django applications registered yet.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
