p {
    margin: 0 0 10px;
}

nav a {
    margin: 5px;
}

.add-app-config  {
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #ffffcc;
    width: 90px;
    cursor: pointer;
}

.add-app-config a {
    cursor: pointer;
    color: #cc3300;
    text-decoration: none;
}


.application {
    margin-bottom: 60px;
}

.app-config {
    border: 1px solid;
    padding: 10px;
    margin: 30px;
}

.app-config span {
    font-weight: bold;
}

.app-config .config-is-master {
    color: red;
}

.app-config .config-title {
 
}

.app-config .config-description {

}

.app-config .config-author-name {

}

.app-config .config-author-email {

}

.add-config-form {
    margin-bottom: 50px;
}

.app-config-form-field {
    margin-bottom: 10px;
    margin-left: 50px;

}

.app-config-form-field-error li {
    color: red;
    list-style: none;
}


.app-config-form-field label {
    display: block;

}
.app-config-form-field label.required {
    font-weight: bold;

}

