a {
    color: #6495ed;
}

.lightgray {
    color: #b1acac;
}

.formatted-text {}

.formatted-text p {
    margin-bottom: 16px;
}

.formatted-text h1 {
    font-size: 2em;
    margin-bottom: 16px;
}

.formatted-text ul {
    padding-left: 40px;
}

.formatted-text ul li {
    padding-bottom: 10px;
}

.formatted-text *:last-child {
    margin-bottom: 0;
}

.plain-article {
}

.plain-article h1 {
    font-size: 2em;
    margin-bottom: 16px;
}