/*--------------------------------------------------- Custom fonts ---------------------------------------------------*/
/*@font-face {
    font-family: "MolotRegular";
    src: local("../fonts/Molot"), url("../fonts/Molot.woff") format("woff"), url("../fonts/Molot.ttf") format("truetype"), url("../fonts/Molot.svg#Molot") format("svg");
}*/

@font-face {
    font-family: "InsolentRegular";
    src: local("../fonts/insolent"), url("../fonts/insolent.woff") format("woff"), url("../fonts/insolent.ttf") format("truetype"), url("../fonts/insolent.svg#webfontD7S5Wv86") format("svg");
}

body {
    font: 1em Verdana,sans-serif;
    padding: 0;
    margin:  0;
    background: #101e39 url('../images/site-bg.gif') repeat;
    color: #f4f4f4;
}

/*------------------------------------------------------ Header ------------------------------------------------------*/
.site-header {
    overflow: hidden;
    padding: 16px;
    position: relative;
}

.site-header h1 {
    font-size: 3.5em;
    height: 1em;
    line-height: 1em;
    margin: 0;
    float: left;
}

.site-header h1 a {
    text-decoration: none;
    font-family: 'InsolentRegular',Verdana,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
    color: #c9013e;
}

.site-header > p {
    float: left;
    font-size: 1em;
    line-height: 3.5em;
    margin: 0 0 0 10px;
    font-weight: bold;
}

/*-------------------------------------------------- Big ADD button --------------------------------------------------*/
.add-config-button {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    background: #c9013e;
    color: white;
    font-weight: bold;
    font-family: Verdana,sans-serif;
    box-shadow: 2px 2px 0 #000;
    padding: 0 10px 10px;
    text-decoration: none;
    border-radius: 6px;
}

.add-config-button strong {
    display: block;
    text-align: center;
    font-size: 2em;
    height: 1em;
    text-transform: uppercase;
}

.add-config-button:hover {
    background: white;
    color: #c9013e;
}

/*---------------------------------------------------- Navigation ----------------------------------------------------*/
nav.main-site-nav {
    overflow: hidden;
    padding-left: 16px;
}

nav.main-site-nav ul {
    float: left;
    position: relative;
    z-index: 2;
}

nav.main-site-nav li {
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    float: left;
    background: #2e3c53 url('../images/menu-bg.gif') repeat;
}

nav.main-site-nav li:first-child {
    border-radius: 6px 0 0 6px;
}

nav.main-site-nav li:last-child {
    border-radius: 0 6px 6px 0;
}

nav.main-site-nav li a {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

nav.main-site-nav li:hover {
    background-image: url('../images/menu-light-bg.gif');
}

nav.main-site-nav li:hover a {
    color: #f03142;
    text-shadow: none;
}

nav.main-site-nav p.hint-text {
    font-size: 0.9em;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 20px;
    float: left;
    background: #2e3c53 url('../images/menu-light-bg.gif') repeat;
    position: relative;
    z-index: 1;
    left: -6px;
    border-radius: 0 6px 6px 0;
}

/*----------------------------------------------------- Content ------------------------------------------------------*/
.site-content {
    padding: 16px;
    overflow: hidden;
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 1em;
    height: 2em;
    line-height: 2em;
    font-size: 0.9em;
    background: #000;
    width: 100%;
}

.site-footer p {
    margin: 0;
}

.site-pusher {
    height: 2em;
}