/*==================================================== Home page =====================================================*/
ul.features-list {}
ul.features-list li p {
    color: #acacac;
    font-size: 0.9em;
    font-style: italic;
}

/*---------------------------------------- "Short Overview" block on Homepage ----------------------------------------*/
.short-overview {
    float: right;
    width: 360px;
    margin-left: 16px;
    margin-bottom: 16px;
    background: #cdcdcd;
    border-radius: 6px;
    color: #2e2e2e;
    padding: 10px;
    font-size: 0.9em;
    overflow: hidden;
    position: relative;
}

.short-overview h2 {
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #c9013e;
    text-shadow: 0 1px 0 #bbb;
}

.short-overview .screen-at-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 16px;
}

.short-overview .screen-at-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 16px;
}

.short-overview .feature {
    overflow: hidden;
}

.short-overview .code-entry {
    padding: 6px;
    margin-bottom: 16px;
    color: #00a900;
    background: #232323;
}

.short-overview .hidden-feature {
    display: none;
}

.short-overview .more-overviews-button {
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.short-overview .less-overviews-button {
    background: gray;
    color: white;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

/*=================================================== Configs list ===================================================*/
.configs-list {
}

.configs-list > h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.configs-list > ul {
    list-style: none;
}

.configs-list > ul > li {
    margin: 0 0 16px;
}

.configs-list > ul > li > h2 {
    font-size: 1.8em;
    color: #c9013e;
    margin-bottom: 16px;
}

.configs-list > ul > li > h2 a {
    color: #c9013e;
}

.configs-list > ul > li > ul {
    margin-left: 40px;
    list-style: none;
    width: 700px;
}

.configs-list > ul > li > ul > li {
    margin: 0 0 20px;
}

.configs-list ul li:last-child {
    margin-bottom: 0;
}


.configs-list .app-config {
    background: #2e3c53 url('../images/menu-bg.gif') repeat;
    border-radius: 6px;
    font-size: 0.8em;
    position: relative;
}

.configs-list .app-config > .config-title {
    line-height: 2em;
    height: 2em;
    background: #2e3c53 url('../images/menu-light-bg.gif') repeat;
    padding: 0 8px;
    font-size: 1.2em;
    border-radius: 6px 6px 0 0;
}

.configs-list .app-config .config-author,
.configs-list .app-config .config-description,
.configs-list .app-config .supported-versions {
    padding: 6px 8px;
    border-bottom: 1px dashed #757575;
}

.configs-list .app-config .is-master {
    position: absolute;
    right: 10px;
    top: 0;
    color: #e72034;
    font-size: 1em;
    line-height: 2em;
    height: 2em;
}

.configs-list .app-config .is-master span {
    color: white;
}

.configs-list .app-config .download-archive {
    padding: 8px;
    overflow: hidden;
}

.configs-list .app-config .download-archive a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    background: #101e39 url('../images/download-arrow.png') 8px center no-repeat;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 8px;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    float: left;
    border-radius: 6px;
    color: #ddd;
    margin-right: 10px;
}

.configs-list .app-config .download-archive a:hover {
    background-color: #ddd;
    color: #101e39;
}

.configs-list .app-config .download-archive .downloads-counter {
    display: block;
    float: left;
    line-height: 42px;
    height: 42px;
}

/*-------------------------------------------------- Downloads list --------------------------------------------------*/
.downloads-list {
}

.downloads-list > h1 {
    font-size: 2em;
    margin-bottom: 16px;
}

.downloads-list ul {
    margin-left: 20px;
    list-style: none;
    width: 700px;
}

.downloads-list ul li.download-item {
    background: #2e3c53 url('../images/menu-bg.gif') repeat;
    border-radius: 6px;
    font-size: 0.8em;
    position: relative;
    margin-bottom: 20px;
}

.downloads-list ul li.download-item:last-child {
    margin-bottom: 0;
}

.downloads-list ul li.download-item .item-title {
    line-height: 2em;
    height: 2em;
    background: #2e3c53 url('../images/menu-light-bg.gif') repeat;
    padding: 0 8px;
    font-size: 1.2em;
    border-radius: 6px 6px 0 0;
}

.downloads-list ul li.download-item .item-description {
    padding: 6px 8px;
    border-bottom: 1px dashed #757575;
}

.downloads-list ul li.download-item .download-file {
    padding:  8px;
    overflow: hidden;
}

.downloads-list ul li.download-item .download-file a {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    background: #101e39 url('../images/download-arrow.png') 8px center no-repeat;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 8px;
    line-height: 42px;
    height: 42px;
    text-transform: uppercase;
    float: left;
    border-radius: 6px;
    color: #ddd;
    margin-right: 10px;
}

.downloads-list ul li.download-item .download-file a:hover {
    background-color: #ddd;
    color: #101e39;
}
