<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sigurd - The Django Project Configurator!</title>
    <meta name="author" content="WebRiders" />

    <link rel="stylesheet" href="{{ STATIC_URL }}web/css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}web/css/content.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}web/css/layout.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}web/css/pages.css" />

    {% block css %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    {% block js %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <h1>
            <a href="/">Sigurd</a>
        </h1>

        <p>The Django Project Configurator!</p>

        <a class="add-config-button" href="{% url add_config %}"><strong>Add</strong> your app config!</a>

        {% include 'layout/social.html' %}
    </header>

    {% include 'layout/menu.html' %}

    <div class="site-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="site-pusher"></div>

    <footer class="site-footer">
        <p>2011 &copy; Made by <a href="http://webriders.com.ua/en/">WebRiders</a></p>
    </footer>
</body>

</html>