{% extends 'layout/base.html' %}

{% block content %}

    <h1 id="applications_title"> Configs </h1>

    {% for app in applications_list %}

        <div class="application">

            {% with app.get_configs as config %}
                {% if config %}

                    <a href="{{ app.url }}">{{ app.slug }}</a>

                    {% for config in app.get_configs %}
                        <div class="app-config">

                            {% if config.is_master %}
                                <div class="config-is-master">
                                    Recomended
                                </div>
                            {% endif %}

                            <div class="config-title">
                                <span> Title: </span>
                                {{ config.title }}
                            </div>

                            {% if config.description %}
                                <div class="config-description">
                                    <span> Description: </span>
                                    {{ config.description }}
                                </div>
                            {% endif %}

                            <div class="config-author-name">
                                <span> Supported versions: </span>

                                {% if config.supported_versions %}
                                    {{ config.supported_versions }}
                                {% else %}
                                    unknown
                                {% endif %}

                            </div>

                            {% if config.author_name %}
                                <div class="config-author-name">
                                    <span> Author name: </span>
                                    {{ config.author_name }}
                                </div>
                            {% endif %}

                            {% if config.author_email %}
                                <div class="config-author-email">
                                    <span> Author e-mail: </span>
                                    {{ config.author_email }}
                                </div>
                            {% endif %}

                            <div class="config-tarball">
                                <span> Tarball: </span>
                                <a href="{% url config_downloader app_slug=app.slug config_slug=config.slug %}">
                                    Download </a>

                            </div>

                            <div class="download-count">
                                <span> Download count: </span>
                                {{ config.downloads }}
                            </div>

                        </div>
                    {% endfor %}

                {% endif %}
            {% endwith %}

        </div>

    {% endfor %}

{% endblock %}
