<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sigurd - Demo!</title>
    <meta name="author" content="WebRiders" />

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    <style type="text/css">
        body {
            font-family: Arial;
            margin-left: 40px;
            font-size: 13px;
        }
        h3 {
            font-weight: normal;
        }
        .gray {
            color: gray;
        }
    </style>
</head>



<body>
    <header class="site-header">
        <h1>
            Sigurd demo site
        </h1>
    </header>

    <div class="site-content">
        {% block content %}
            <p>
                This site was created using Sigurd project. This means that application settings are made using
                configuration class files.
            </p>
            <p>
                <hr/>
                {% for app_config in ACTIVE_SIGURD_PROFILE.app_configs %}
                    <h3>App: <strong>{{ app_config.get_name }}</strong></h3>

                    {% if app_config.internal_settings %}
                        <strong>Settings:</strong>
                        <ul>
                            {% for key, value in app_config.internal_settings.items %}
                                <li><span class="gray">{{ key }}</span> ="{{ value }}"</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if app_config.internal_apps %}
                        <strong>Apps:</strong>
                        <ul>
                            {% for value in app_config.internal_apps %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if app_config.internal_cps %}
                        <strong>Context processors: </strong>
                        <ul>
                            {% for value in app_config.internal_cps %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if app_config.internal_mds %}
                        <strong>Middleware classes: </strong>
                        <ul>
                            {% for value in app_config.internal_mds %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if app_config.internal_mds %}
                        <strong>URLs: </strong>
                        <ul>
                            {% for value in app_config.internal_urls %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <hr/>
                {% endfor %}
            </p>
        {% endblock %}
    </div>

    <div class="site-pusher"></div>

    <footer class="site-footer">
        <p>2011 &copy; Made by <a href="http://webriders.com.ua/">WebRiders</a></p>
    </footer>
</body>

</html>