<div class="home-side-block">
    {% include 'pages/home/overview.html' %}

    <aside class="important-message formatted-text">
        <h1 class="message-title">Site Freeze</h1>
        <p>
            We are disallowed to change this site until DjangoDash 2011 results.
            But we just can't stop developing! So we will deploy our temporary mirror site tomorrow (1 Aug 2011).
        </p>
        <p>
            It will be here:<br/>
            <a href="http://sigurd-mirror.webriders.com.ua/">http://sigurd-mirror.webriders.com.ua/</a>
        </p>

        <p>And we will develop our documentation <a href="http://github.com/webriders/sigurd/">at our GitHub</a></p>
    </aside>
</div>